.catalog {
    &-head {
        border-top: 1px solid $button-background;
        border-bottom: 1px solid $button-background;
        padding: 10px 0;
        margin-bottom: 17px;
        .thirdheader {
            @extend %inline-middle;
            letter-spacing: 2px;
            margin-right: 50px;
        }
        .link-remove {
            @extend %inline-middle;
            margin-right: 20px;
            color: $primary-color;
            .fa {
                margin-right: 5px;
            }
            &:hover {
                text-decoration: underline;
            }
        }
        select {
            @extend %inline-middle;
            margin-bottom: 0;
        }
        .fa-remove {
            color: $warning-color;
        }
        .pagination {
            margin-bottom: 0;
            &-centered {
                padding-top: 7px;
            }
        }
        &-results {
            color: $light-gray;
            line-height: 40px;
        }
        &.bottom {
            margin-bottom: 58px;
        }
    }
    &-body {
        padding-top: 34px;
        .product-labels {
            position: absolute;
            left: $list-nested-side-margin;
            top: 0;
            width: 80px;
        }
        .product-label {
            margin-bottom: 2px;
            width: 100%;
        }
        .product-rate {
            position: absolute;
            right: $list-nested-side-margin;
            top: 0;
        }
    }
}
