.catalog {
    &-head {
        border-top: 1px solid $button-background;
        border-bottom: 1px solid $button-background;
        padding: 10px 0;
        margin-bottom: 17px;
        .thirdheader {
            @extend %inline-middle;
            letter-spacing: 2px;
            margin-right: 50px;
            line-height: 20px;
        }
        .link-remove {
            @extend %inline-middle;
            margin-right: 20px;
            color: $primary-color;
            .fa {
                margin-right: 5px;
            }
            &:hover {
                text-decoration: underline;
            }
        }
        select {
            @extend %inline-middle;
            margin-bottom: 0;
        }
        .fa-remove {
            color: $warning-color;
        }
        .pagination {
            margin-bottom: 0;
            padding-top: 9px;
            text-align: center;
            &-centered {
                padding-top: 7px;
            }
        }
        &-top {
            @media #{$max-large} {
                margin-bottom: 10px;
            }
        }
        &-results {
            color: $light-gray;
            line-height: 40px;
            text-align: right;
            @media #{$max-large} {
                text-align: center;
            }
        }
        &.bottom {
            margin-bottom: 58px;
        }
    }
    &-sidebar {
    }
    &-body {
        padding-top: 34px;
        .product-labels {
            position: absolute;
            left: $list-nested-side-margin;
            top: 0;
            width: 80px;
            z-index: 1;
        }
        .product-label {
            margin-bottom: 2px;
            width: 80px;
            display: block;
        }
        .product-rate {
            position: absolute;
            right: $list-nested-side-margin;
            top: 0;
            z-index: 1;
        }
    }
    &-select {
        @extend %inline-middle;
        select {
            min-width: 140px;
        }
        @media #{$small-only} {
            margin-top: 10px;
            display: block;
            select {
                display: block;
                width: 100%;
                max-width: none;
            }
        }
    }
    &-content-holder {
        position: relative;
    }
}

main.catalog {
    aside.catalog-sidebar {
        float: left;
        width: 195px;
    }
    section.catalog-body {
        @media #{$large-up} {
            margin-left: 255px;
        }
    }
}
