.categories {
    &-item {
        position: relative;
        margin-bottom: rem-calc(54px);
        display: block;
        &:not(.preview-category) {
            //@extend %shadow;
        }
        &.preview-category {
            .categories-item-image {
                position: relative;
                @extend %shadow;
            }
            .categories-item-description {
                text-align: center;
                h5 {
                    color: $light-gray;
                    text-transform: uppercase;
                    font-family: $roboto;
                    line-height: 12px;
                    margin-top: 18px;
                    margin-bottom: 16px;
                }
                p {
                    font-size: $size-h5;
                }
            }
        }
        &-image {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin-bottom: rem-calc(31px);
            display: block;
            img {
                width: 100%;
            }
        }
        &-description {
            text-align: center;
            h3 {
                color: $primary-color;
            }
            p {
                margin-bottom: 16px;
            }
            &.vertical-box {
                z-index: 1;
                @extend %full;
                @extend .text-center;
                width: 330px;
                height: 170px;
                background-color: rgba(0, 0, 0, 0.2);
                border-width: 1px;
                border-color: rgba(255, 255, 255, 0.4);
                border-style: solid;
                color: #fff;
                padding: 10px;
                p {
                    font-size: $size-h5;
                    max-width: 200px;
                    margin: 0 auto;
                }
                .icon-star {
                    position: absolute;
                    right: 8px;
                    bottom: 8px;
                    &.turn {
                        top: 8px;
                        left: 8px;
                        right: auto;
                        bottom: auto;
                        transform: rotate(180deg);
                    }
                    &.left {
                        transform: scale(-1, 1);
                        left: 8px;
                        right: auto;
                    }
                }
            }
        }
        &.categories-cut {
            .categories-item-image {
                background-size: 90%;
                background-color: #f3f3f3;
            }
        }
        &.full {
            //inner elements is full-item
            .categories-item {
                &:hover:after {
                    background: rgba(0, 0, 0, 0.3);
                }
                &-image {
                    height: 485px;
                }
                &-description {
                    right: 9.6%;
                    bottom: 27%;
                    left: auto;
                    top: auto;
                    h3 {
                        margin-bottom: 11px;
                    }
                    p{
                        font-size: 14px;
                        margin-bottom: 21px;
                        color: #666666;
                    }
                    &.right {
                        right: auto;
                        left: 9.6%;
                    }
                }
            }
        }
    }
}

%shadow {
    &:after {
        content: '';
        @extend %full;
        bottom: 0;
        background: rgba(0, 0, 0, 0);
        z-index: 0;
        transition: 500ms all ease-out;
    }
    &:hover:after {
        background: rgba(0, 0, 0, 0.4);
        bottom: 0;
    }
}
