.collection {
    margin-bottom: rem-calc(54);
    &-item {
        background: $colectionColor;
        border: 4px solid $colectionBorder;
        margin-bottom: 28px;
        padding: rem-calc(34) rem-calc(30) rem-calc(14) rem-calc(30);
        @extend %clear;
        &-inner {
            margin: 0 auto;
            @media #{$large-up} {
                max-width: 280px;
                padding-left: $gutter-medium;
            }
        }
        &-category {
            text-transform: uppercase;
            margin-bottom: 28px;
            color: #666666;
            .icon-star {
                margin-right: 10px;
            }
        }
        &-description {
            padding: 0 40px;
            min-height: 197px;
            h3 {
                color: $primary-color;
                padding-top: 23px;
                letter-spacing: 0.7px;
                margin-bottom: 21px;
            }
            p {
                margin-bottom: 21px;
                color: #666666;
                line-height: 1.7;
            }
            .button {

            }
        }
        &-image {
            margin-bottom: 12px;
            img {

            }
        }
        &.full {
            padding:0 0;
            border: 0;
            @extend %flex;
            .collection-item-image {
                margin-bottom: 0;
                text-align: center;
                @media #{$large-up} {
                    width: 50%;
                    order: 2;
                    @include display-flex(flex-end, center);
                }
            }
            .collection-item-description {
                @include display-flex(flex-end, center);
                @media #{$large-up} {
                    width: 50%;
                    order: 1;
                }
            }
            @media #{$large-up} {
                padding: 0 0;
            }
        }
        &.innerfull {
            padding: 15px 15px 20px 15px;
            border: 0;
            @media #{$large-up} {
                padding: 0 0 0 0;
            }
            .collection-item-image {
                margin-bottom: 0;
                text-align: center
            }
            @media #{$large-up} {
                & > .row {
                    display: flex;
                    align-items: center;
                }
            }
            h4 {
                font-weight: normal;
                margin-bottom: 17px;
            }
            p {
                font-size: 12px;
                line-height: 19px;
            }
        }
    }
}
