.collection {
    &-item {
        background: $colectionColor;
        margin-bottom: 28px;
        &-category {
            text-transform: uppercase;
        }
        h3 {

        }
        p {
            font-size: 14px;

        }
        .button {

        }
        &-image {
            img {

            }
        }
    }
}
