.detail {
    &-top {
        margin-bottom: 60px;
    }
    &-recommend {
        margin-bottom: 47px;
    }
    &-main {
        h4 {
            font-family: $roboto;
            font-weight: normal;
            color: $primary-color;
            letter-spacing: 0.03em;
            margin-bottom: 0.24em;
        }
        h6 {
            font-family: $roboto;
            font-weight: normal;
            color: $primary-color;
            margin-bottom: 13px;
        }
    }
    &-price {
        margin-bottom: 15px;
        span {
            font-size: 20px;
            display: inline-block;
            vertical-align: middle;
            white-space: nowrap;
            &:not(:last-child) {
                margin-right: 17px;
            }
            &.old {
                color: #999999;
                position: relative;
                display: inline-block;
                vertical-align: middle;
                &:after {
                    content: '';
                    background: #999999;
                    position: absolute;
                    height: 1px;
                    width: 100%;
                    left: 0;
                    right: 0;
                    top: calc(50% + 2px);
                }
            }
        }
        &.small {
            span {
                font-size: 14px;
                &:after {
                    top: calc(50% + 0px);
                }
            }
        }
    }

    &-color {
        h6 {
            margin-bottom: 8px;
        }
        &-row {
            @extend %clear;
            display: none;
            &.active {
                display: block;
            }
        }
        &-item {
            display: flex;
            align-items: center;
            color: $primary-color;
            border-width: 1px;
            border-color: #bababa;
            border-style: solid;
            width: 58px;
            height: 58px;
            float: left;
            margin-right: 15px;
            margin-bottom: 30px;
            cursor: pointer;
            position: relative;
            &:before {
                content: "\f00c";
                display: inline-block;
                font: normal normal normal 13px/1 FontAwesome;
                color: #bf9e8f;
                position: absolute;
                top: 8px;
                left: 2px;
                opacity: 0;
                transition: 350ms all ease;
            }
            &:hover {
                border-color: #bf9e8f;
            }
            &.active {
                border-color: #bf9e8f;
                &:before {
                    top: 2px;
                    opacity: 1;
                }
            }
        }
    }

    &-size {
        margin-bottom: 5px;
        select {
            margin-right: 25px;
        }
        a {
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }

    &-actions {
        margin-bottom: 23px;
        .button {
            min-width: 224px;
            &:not(:last-child) {
                margin-right: 16px;
            }
            &.large {
                font-size: 1em;
                .fa {
                    margin-right: 0;
                }
            }
            .switcher-text {
                min-width: 164px;
            }
        }
    }

    &-description {
        line-height: 21px;
        p {
            line-height: 21px;
            margin-bottom: 22px;
        }
        ul {
            margin-left: 15px;
            li {
                list-style-type: disc;
                margin-bottom: 4px;
            }
        }
    }

    &-share {
        text-align: center;
        color: $secondary-color;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 36px;
        p {
            display: inline-block;
            vertical-align: middle;
            margin-right: 30px;
        }
        a {
            display: inline-block;
            vertical-align: middle;
            margin: 0 15px;
        }
        .fa {
            color: $secondary-color;
            font-size: 20px;
        }
    }

    &-slider {
        margin-bottom: 30px;
        .product-label {
            float: left;

            @media #{$large-up} {
                margin-left: 27px;
            }
        }
        img {
            margin: 6px auto;
        }
        &-nav {
        }
        &-main {
            clear: both;
            margin-bottom: 36px;
            @media #{$large-up} {
                padding: 0 27px;
            }
        }
    }
}
