.footer {
    background: #fff;
    border: 1px solid $button-background-hover;
    padding-top: rem-calc(49);
    padding-bottom: rem-calc(15);
    color: $dark-gray;
    position: relative;
    z-index: 4;
    font-size: 10px;
    .input-group input {
        font-size: 1em;
    }
    h6 {
        margin-bottom: 10px;
        font-family: $roboto;
        font-weight: bold;
        color: $button-color;
        font-size: 1em;
    }
    a {
        color: $input-placeholder-color;
        font-size: 1em;
    }
    ul {
        li {
            margin-bottom: 5px;
        }
    }
    .input-group {
        max-width: 300px;
    }
    &-column {
        margin-bottom: 42px;
    }
    .input-group-button {
        .button {
            min-width: 80px;
        }
    }
    &-contacts {
        &-item {
            margin-bottom: 7px;
            i {
                width: 25px;
                font-size: 17px;
            }
        }
    }
    &-socials {
        @extend %clear;
        &-items {
            float: left;
            margin-right: 28px;
            &:last-child {
                margin-right: 0;
            }
            .fa {
                font-size: 26px;
            }
        }
    }
    p {
        margin-bottom: 15px;
    }
    &-menu {
        margin-bottom: 15px;
        li {
            padding-right:17px;
            display: inline-block;
            vertical-align: middle;
            &:after {
                content: '|';
                padding-left: 17px;
            }
            &:last-child{
                padding: 0;
                &:after {
                    content: normal;
                }
            }
        }
    }
    .ontop {
        display: block;
        text-align: center;
        h5 {
            font-family: $roboto;
            color: #fff;
            text-transform: uppercase;
            margin-bottom: 0;
        }
        .icon-top {
            transition: 300ms all ease-out;
            position: relative;
            top: 0;
        }
        a:hover {
            .icon-top {
                top: -5px;
            }
        }
    }
}
