.header {
    background: #fff;
    padding: 14px 0 14px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 5;

    @media #{$max-large} {
        position: relative;
        z-index: 4;
    }
    &.fixed {
        padding: 10px 0 14px;
        box-shadow: 0 0 3px 0px rgba(0,0,0,0.25);
        @media #{$large-up} {
            z-index: 5 !important;
        }
        .header-logo img {
            @media #{$large-up} {
                height: 53px;
            }
        }
    }
    &-main {
        position: relative;
        z-index: 22;
        @extend %flex;
    }
    &-logo {
        @include display-flex(flex-start, center);
        width: 24%;
        a {
            display: inline-block;
            @media #{$max-large} {
                margin: 0 auto;
            }
        }
        img {
            transition: 300ms all ease-out;
            padding-left: 3px;
            max-height: 100%;
            margin: 0 auto;
            transition: 300ms all ease-out;
            height: 78px;
        }
        @media #{$max-large} {
            width: 100%;
            text-align: center;
        }
    }
    &-hint {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        text-align: center;
        background: rgba(75, 75, 75, 0.4);
        padding: 2em 3em;
        &-close {
            position: absolute;
            right: 2em;
            top: 2em;
        }
        &, a {
            color: #fff;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

.navigation {
    position: relative;
    z-index: 1;
    @include display-flex(flex-start, flex-end);
    transform: translateY(11px);

    @media #{$max-large} {
        transform: translateY(0px);
        height: auto;
    }
    &-panel {
        line-height: 40px;
        height: 40px;
        display: none;
        @media #{$max-large} {
            display: block;
        }
        &-icons {
            i {
                font-size: 18px;
                margin: 0;
            }
            a {
                margin-right: 25px;
                @extend %last;
            }
        }
    }
    &-collapse {
        h6 {
            padding: 0 1rem;
            a {
                text-transform: uppercase;
                color: $primary-color;
            }
            @media #{$large-up} {
                display: none;
            }
        }
        a {
            color: $secondary-color;
        }
        @media #{$max-large} {
            display: none;
        }
        @media #{$max-large} {
            padding: 1rem 0 1rem;
            margin-left: -1rem;
            margin-right: -1rem;
        }
    }
    .menu-toggle {
        font-size: 21px;
        color: $primary-color;
        .fa-bars {
            display: inline-block;
        }
        .fa-close {
            display: none;
        }
        &.active {
            .fa-bars {
                display: none;
            }
            .fa-close {
                display: inline-block;
            }
        }
    }
    .menu {
        display: table;
        width: 100%;
        left: 0;
        & > li {
            position: relative;
            text-align: center;
            @media #{$max-large} {
                display: block;
                text-align: left;
            }
            &.has-submenu {
                &:after {
                    content: '';
                }
            }

            & > a {
                color: $primary-color;
                text-transform: uppercase;
                position: relative;
                &.submenu-link {
                    &:before {
                        content: none;
                    }
                }
                &:after {
                    content: '';
                    position: absolute;
                    background: $primary-color;
                    transition: 300ms all ease;
                    height: 2px;
                    left: 50%;
                    right: 100%;
                    bottom: -3px;
                }
                @media #{$max-large} {
                    &.submenu-link {
                        &:before {
                            content: "\f105";
                            display: inline-block;
                            font: normal normal normal 16px/1 FontAwesome;
                            margin-right: 10px;
                            transform-origin: center;
                            transition: 300ms all ease;
                        }
                        &.collapsed {
                            &:before {
                                transform: rotate(90deg);
                            }
                        }
                        &:after {
                            content: none;
                        }
                    }
                }
                &.active {
                    &:after {
                        transition: 300ms height ease;
                        content: "\f0d8";
                        font: normal normal normal 16px/1 FontAwesome;
                        background: transparent;
                        left: 0;
                        right: 0;
                        height: auto;
                        bottom: -4px;
                    }
                    & + .submenu {
                        opacity: 1;
                    }
                }

            }
            &:hover a {
                &:after {
                    left: 10px;
                    right: 10px;
                }
            }
            &:hover {
                & > ul {
                    opacity: 1;
                    z-index: 1;
                    left: 0;
                    top: 100%;
                    margin-top: 3px;
                }
            }
            ul {
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 5px 9.5px 0.5px rgba(0, 0, 0, 0.15);
                min-width: 270px;
                left: 10px;
                right: 10px;
                transition: 400ms opacity ease;
                opacity: 0;
                z-index: -1;
                position: absolute;
                left: -99999px;
                top: -99999px;

                li {
                    a {
                        display: block;
                        line-height: 1.4em;
                        text-align: left;
                        padding: 11px 15px 11px 15px;
                        font-size: 10px;
                        text-transform: uppercase;
                        &:hover {
                            font-weight: bold;
                        }
                    }
                }
                @media #{$max-large} {
                    position: static;
                    opacity: 1;
                    z-index: 0;
                    box-shadow: none;
                    padding-left: rem-calc(30px);
                    display: none;
                    li {
                        a {
                            color: $primary-color;
                            text-transform: none;
                            font-size: 1rem;
                            span {
                                display: inline-block;
                                border-bottom: 1px solid transparent;
                                transition: 300ms all ease;
                            }
                            &:hover {
                                background: inherit;
                                span {
                                    border-bottom: 1px solid $primary-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.preloader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: #fff;
    text-align: center;
}
.preloader img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
