.product {
    &-labels {

    }
    &-list {
        * {
            outline: none;
        }
    }
    &-item {
        margin-bottom: 4em;
        position: relative;
        &-image {
            margin-bottom: 20px;
            height: 230px;
            img {
                max-height: 370px;
                margin: 0 auto;
                transition: 350ms all cubic-bezier(0.25, 0.46, 0.45, 0.94);
                &:hover {
                    transform: scale(1.02) translateY(2%);
                }
            }
            .image-minor {
                display: none;
            }
            .image-major {
                display: block;
            }
            &:hover {
                .image-minor {
                    display: block;
                }
                .image-major {
                    display: none;
                }
            }
        }
        &-description {
            h5 {
                font-size: 15px;
                font-family: $roboto;
                text-transform: uppercase;
                margin-bottom: 6px;
                height: 35px;
                overflow: hidden;
            }
            p {
                margin-bottom: 7px;
                &.secondary {
                    font-size: 80%;
                    line-height: 7px;
                    margin-bottom: 13px;
                }
            }
            a {
                color: $body-font-color;
            }
            .detail {
                font-size: $size-h5;
                text-transform: uppercase;
                margin-top: 21px;
                display: block;
                .fa {
                    margin-left: 8px;
                    left: 0;
                    transition: 300ms all ease;
                    position: relative;
                }
                &:hover {
                    .fa {
                        left: 4px;
                    }
                }
            }
        }
        h5 {
            font-size: 14px;
            &.secondary {
                font-size: 14px;
            }
        }
        &:last-child {
            float: left !important;
        }
    }
    &-rate {
        .fa {
            color: #808080;
            font-size: 18px;
            transition: 300ms all ease;
            @extend .fa-star-o;
        }
        &.active {
            .fa {
                @extend .fa-star;
                color: #ecc3b2;
            }
        }
    }
    &-thumbnail {
        float: left;
        width: 85px;
        margin-bottom: 1rem;
    }
    &-summary {
        margin-left: 110px;
        margin-bottom: 1rem;
        .product-item {
            h5 {
                margin-bottom: 0;
            }
        }
    }
}

.trending {
}
#purchase_confirm {
    margin-top: 25px;
}
.model-data h4 span {
    font-size: 10px;
    line-height: 40px;
    display: block;
}
.size-guide-href {
    text-decoration: underline;
    margin-left: 20px;
}
