.recommend {
    margin-bottom: 30px;
    p {
        color: $primary-color;
        margin-bottom: 8px;
    }
    h3, h4, h5 {
        font-family: $roboto;
    }
    h4 {
        font-size: $size-h4;
        font-weight: normal;
        color: $primary-color;
        letter-spacing: .6px;
        margin-bottom: 0;
    }
    h5 {
        margin-bottom: 17px;
    }
    select {
        margin-bottom: 15px;
    }
    &-inner {
    }
    &-image {
        width: 145px;
        padding: 0 1px;
        margin-bottom: 15px;

        @media #{$large-up} {
            float: left;
        }
    }
    &-description {
        position: relative;
        .button {
            min-width: auto;
            max-width: 200px;
            width: 100%;
        }
        @media #{$large-up} {
            margin-left: 170px;
            &:after {
                content: '';
                position: absolute;
                right: -15px;
                top: -18px;
                bottom: 0;
                border-right: 1px solid #d7d7d7;
            }
        }
    }
    &:last-child {
        margin-bottom: 0;
        .recommend-description:after {
            content: none;
        }
    }
    &:not(:last-child) {
        h3 {
            border-right: 0;
        }
    }

    @media #{$large-up} {
        padding-bottom: 20px;
        padding-top: 25px;
        margin-bottom: 0px;
    }
}
