.shopping {
    margin-bottom: rem-calc(100);
    h4 {
        font-weight: normal;
        margin-bottom: 9px;
    }
    h5 {
        font-family: $roboto;
    }
    .product-item {
    }
    &-table {
        &-th {
            border-bottom: 1px solid $button-background;
            margin-bottom: 17px;
            .column:last-child {
                padding-left: 5%;
            }
            @media #{$max-large} {
                display: none;
            }
        }
        &-tr {
            border-bottom: 1px solid $button-background;
            margin-bottom: 17px;
            width: 100%;
            .texty {
                padding-top: 4px;
                p {
                    margin-bottom: 5px;
                }
            }
            .column:last-child {
                @media #{$large-up} {
                    padding-left: 5%;
                }
            }
        }
    }
    &-summary {
        text-transform: uppercase;
        margin-top: 16px;
        p {
            font-size: 20px;
            margin-bottom: 14px;
            &.small {
                font-size: 16px;
            }
            span {
                color: $primary-color;
                padding-right: 35px;
            }
            em {
                color: $secondary-color;
                font-style: normal;
                font-family: $roboto;
            }
            @media #{$max-large} {
                text-align: right;
            }
        }
        .button {
            margin: 20px 0px 10px 0px;
            min-width: 220px;
            &:first-child {
                margin-right: 15px;
            }
        }
        &-actions {

        }
    }
    &-card {
        border: 1px solid $button-background;
        padding: 19px 19px 8px 19px;
        margin-bottom: 30px;
        .product-item {
            border-bottom: 1px solid $button-background;
            margin-bottom: 10px;
            float: none;
            h5 {
                font-family: $roboto;
                margin-bottom: 0;
                padding-top: 6px;
                & + p {
                    margin-bottom: 8px;
                }
            }
            p {
                line-height: 17px;
                margin-bottom: 2px;
            }
        }
    }
}
