ul.side-menu {
    & > li {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        & > a {
            text-transform: uppercase;
            line-height: 22px;
            .fa {
                position: relative;
                top: 5px;
                float: left;
                //transition: 300ms all ease;
                transform-origin: 0 center;
            }
            &.active {
                .fa {
                    transform: rotate(90deg);
                    top: 3px;
                }
            }
            span {
                display: block;
                margin-left: 14px;
            }
        }
        ul {
            margin-left: 13%;
            margin-top: 8px;
            li {
                margin-bottom: 11px;
                a {
                    .fa {
                        font-size: 8px;
                        margin-right: 4px;
                    }
                    &:hover {
                        span {
                            color: $warning-color;
                        }
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

}

.simple-menu {
    ul {
        li {
            a {
                text-transform: uppercase;
                border-bottom: 1px solid #c9c9c9;
                display: block;
                line-height: rem-calc(40px);
                i {
                    line-height: rem-calc(40px);
                    float: right;
                    opacity: 0;
                    transition: 300ms all ease;
                }
            }
            &.active a,
            & a:hover {
                color: #f24841;
                i {
                    opacity: 1;
                    font-size: 16px;
                }
            }
        }
    }
}
