.tabs {
    border: 0;
    margin-bottom: 48px;
    &-header {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    &-title  {
        border: 1px solid #e1e1e1;
        margin-bottom: 24px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        &:not(:last-child) {
            border-right: 0;
        }
        a {
            background: #f5f5f5;
            line-height: 1.6;
            font-weight: 300;
            font-size: 18px;
            text-align: center;
            height: 55px;
            width: calc(100% + 2.5rem);
            &:hover,
            &.active {
                background: #e8e8e8;
                border-color: #d7d7d7;
            }
        }
        &-hidden {
            border: none;
        }
    }
    &-content {
        border: 0;
        border-bottom: 1px solid #d7d7d7;
        padding-bottom: 16px;
    }
    &-panel {
        &.active {
            display: block;
        }
        .column:last-child {
            float: left;
        }
        .column {
            &:last-child {
                float: left;
            }
        }
    }
}
