$max-width: 768px;
$activeColor: #ffdbcc;
$colectionColor: #f3f3f3;
$colectionBorder: #e9e9e9;
$times: "Isabella", Times, serif;
$roboto: "Baskerville", Times, serif;
$size-h2: 38px;
$size-h3: 28px;
$size-h4: 16px;
$size-h5: 14px;
