doctype html
html
    include _includes/_head.pug
    body.starterkit.innerpage
        .header-line
        header.header
            include _includes/_header.pug
            .breadcrumbs
                ul
                    li
                        a(href='/') Home
                    li
                        span My account
        main.content
            .row.column
                h3 My account
            .row.account
                aside.large-3.column
                    .simple-menu
                        ul
                            li.active
                                a(href="#personal")
                                    | personal information
                                    i.fa.fa-angle-right
                            li
                                a(href="#orders")
                                    | orders
                                    i.fa.fa-angle-right
                            li
                                a(href="#address")
                                    | address
                                    i.fa.fa-angle-right
                            li
                                a(href="#wishlist")
                                    | wishlist
                                    i.fa.fa-angle-right
                            li
                                a(href="#newsletter")
                                    | newsletter
                                    i.fa.fa-angle-right
                            li
                                a(href="#refunds")
                                    | Refunds
                                    i.fa.fa-angle-right
                section.large-9.column
                    include _includes/_refunds.pug
                    include _includes/_orders.pug
                    include _includes/_newsletter.pug
                    include _includes/_wishlist.pug
                    include _includes/_address.pug
                    include _includes/_personal.pug
        footer.footer
            include _includes/_footer.pug

    script(src="js/jquery.min.js")
    script(src="js/script.js")
    script(src="js/slick.min.js")
