doctype html
html
    include _includes/_head.pug
    body.starterkit
        .preloader
            img(src="files/img/logo-big.png")
        .header-line
        include _includes/_header_hint.pug
        header.header
            include _includes/_header.pug
        main.content
            include _includes/_preview_slider.pug
            .content-inner
                include _includes/_categories.pug
                include _includes/_trending.pug
                include _includes/_collection_full.pug
                include _includes/_categories_full.pug
                include _includes/_collection.pug
                include _includes/_categories_full_2.pug
                include _includes/_collection_slider.pug
        .footer_placeholder
        footer.footer
            include _includes/_footer.pug

    script(src="js/jquery.min.js")
    script(src="js/slick.min.js")
    script(src="js/script.js")
