doctype html
html
    include _includes/_head.pug
    body.starterkit
        include _includes/_header.pug
        main.content
            include _includes/_slider.pug
            include _includes/_categories.pug
            include _includes/_trending.pug
            include _includes/_categories_full.pug
            include _includes/_collection.pug
    script(src="js/script.js")
