doctype html
html
    include _includes/_head.pug
    body.starterkit
        .header-hint
            .row
                .column.large-8.large-offset-2
                    p
                        | This website uses cookies, including third parties ones, in order to send you advertising and services in accordance with your preferences.
                        | If you want to learn more or opt out of all or some cookies, click
                        a(href="#") here.
            a.header-hint-close
                i.fa.fa-close
        .header-line
        header.header
            include _includes/_header.pug
        main.content
            include _includes/_preview_slider.pug
            .content-inner
                include _includes/_categories.pug
                include _includes/_trending.pug
                include _includes/_collection_full.pug
                include _includes/_categories_full.pug
                include _includes/_collection.pug
                include _includes/_categories_full_2.pug
                include _includes/_collection_slider.pug
        .footer_placeholder
        footer.footer
            include _includes/_footer.pug

    script(src="js/jquery.min.js")
    script(src='https://unpkg.com/packery@2/dist/packery.pkgd.min.js')
    script(src="js/script.js")
    script(src="js/slick.min.js")
