.categories
    .row.column
        .categories-item.full
            .categories-item-image(style='background-image: url(files/img/categories-3.jpg)')
            .categories-item-description
                .text-center
                    h3 Aristocrat Kids Kingdom
                    p Open this door and let the magic take you on a journey through our Royal Kingdom
                    a.button  DISCOVER
