.categories
    .row
        .medium-6.column
            a.categories-item
                .categories-item-image
                    img(src='files/img/categories-1.jpg')
                .categories-item-description.vertical-box
                    i.icon-star.white.turn
                    .vertical-middle
                        h3 Aristocrat kids
                        p
                            | Luxury clothing for girls <br />
                            | aged 9 months - 12 years
        .medium-6.column
            a.categories-item
                .categories-item-image
                    img(src='files/img/categories-2.jpg')
                .categories-item-description.vertical-box
                    i.icon-star.white
                    .vertical-middle
                        h3 Royal baby
                        p Exclusive line for newborn baby boy and baby girl 0 - 2 years
