.categories
    .row.column
        .categories-item.full
            .categories-item-image(style='background-image: url(files/img/categories-4.jpg)')
            .categories-item-description
                .text-center
                    h3 Royal Baby
                    p Learn about the essence of true luxury for baby boy and girl aged 0 - 24 months
                    a.button  DISCOVER
