.categories
    .row.column
        .categories-item.full
            .categories-item-image(style='background-image: url(files/img/categories-4.jpg)')
            .categories-item-description.vertical-box.right
                i.icon-star.white.left
                .vertical-middle
                    h3 Royal Baby
                    a.button.secondary  DISCOVER
