.categories
    .row.column
        .categories-item.full
            .categories-item-image
                img(src='files/img/categories-3.jpg')
            .categories-item-description.vertical-box
                .vertical-middle
                    h3 Aristocrat Kids <br /> Kingdom
                    a.button DISCOVER
