.categories
    .row
        .medium-6.column
            a.categories-item.preview-category
                .categories-item-image
                    img(src='files/img/categories-1.jpg')
                .categories-item-description
                    h3 Aristocrat kids
                    h5 shop online
                    p
                        | Luxury clothing for girls <br />
                        | aged 9 months - 12 years
        .medium-6.column
            a.categories-item.preview-category
                .categories-item-image
                    img(src='files/img/categories-2.jpg')
                .categories-item-description
                    h3 Royal baby
                    h5 shop online
                    p
                        | Exclusive line for newborn <br />
                        | baby boy and baby girl 0 - 2 years
