.categories
    .row
        .medium-6.column
            .categories-item.preview-category
                a.categories-item-image(href="#")
                    img(src='files/img/categories-1.jpg')
                .categories-item-description
                    h3 Aristocrat kids
                    p
                        | Luxury clothing for girls <br>
                        | 9 months - 12 years
                    a.button(href="#") shop now
        .medium-6.column
            .categories-item.preview-category
                a.categories-item-image(href="#")
                    img(src='files/img/categories-2.jpg')
                .categories-item-description
                    h3 Royal baby
                    p
                        | Exclusive line for baby boy and girl <br>
                        | 0 - 24 months
                    a.button(href="#") shop now
