.collection-slider
    ul
        li
            img(src='files/img/slider-2.jpg')
            .slider-description
                h3 Bespoke quality
                p
                    | The beauty of our Royal Tailors and artisan <br>
                    | craftsmanship
                a.button DISCOVER
