.collection
    .row.column
        .collection-item.full
            .row
                .collection-item-description.large-4.column
                    h2 Festive season
                    .collection-item-category
                        i.icon-star.gold
                        | for little princess
                    p Dress your little girl in exquisite and child appropriate fashion which ranges from special occasion wear to easy separates.
                    a.button Discover
                .collection-item-image.large-8.column
                    img(src='files/img/collection-1.jpg')
