.collection
    .collection-item.full
        .collection-item-image
            img(src='files/img/collection-1.jpg')
        .collection-item-description
            .row-half
                .collection-item-inner
                    h3 SUMMER BREEZE
                    p
                        | Longing for sun, sitting under summer
                        | light blue sky and sipping refreshing lemonade on the beach?
                    p
                        | Choose your resort wardrobe for winter holiday escape in sun!
                    a.button.darker Discover
