.collection
    .row.column
        .collection-item.full
            .row
                .collection-item-description.medium-4.column
                    h3 Spring / Summer  2017 collection Royal Candy
                    .collection-item-category for little princess
                    h5 Dress your little girl in exquisite and child appropriate fashion which ranges from special occasion wear to easy separates.
                    a.button Discover
                .collection-image.medium-8.column
                    img(src='files/img/collection-1.jpg')
    .row
        .medium-6.column
            .collection-item.text-center
                .collection-image
                    img(src='files/img/collection-2.jpg')
                .collection-item-description
                    h3 Royal tailor
                    .collection-item-category for fashion girl
                    h5 Dress your little girl in exquisite and child.
                    a.button Discover

        .medium-6.column
            .collection-item.text-center
                .collection-image
                    img(src='files/img/collection-3.jpg')
                .collection-item-description
                    h3 Special Service
                    .collection-item-category for little girl
                    h5 Dress your little girl in exquisite and child.
                    a.button Discover
