.collection
    .row.column
        .collection-item.full
            .row
                .collection-item-description.large-4.column
                    h2 FESTIVE SEASON
                    .collection-item-category
                        i.icon-star.gold
                        | for little princess
                    p Dress your little girl in exquisite and child appropriate fashion which ranges from special occasion wear to easy separates.
                    a.button Discover
                .collection-item-image.large-8.column
                    img(src='files/img/collection-1.jpg')
    .row
        .medium-6.column
            .collection-item.text-center
                .collection-item-image
                    img(src='files/img/collection-2.jpg')
                .collection-item-description
                    h3 Royal tailor
                    .collection-item-category
                        i.icon-star.gold
                        | for fashion girl
                    p Dress your little girl in exquisite and child.
                    a.button Discover

        .medium-6.column
            .collection-item.text-center
                .collection-item-image
                    img(src='files/img/collection-3.jpg')
                .collection-item-description
                    h3 Special Service
                    .collection-item-category
                        i.icon-star.gold
                        | for little girl
                    p Dress your little girl in exquisite and child.
                    a.button Discover
