.collection-slider
    ul
        li
            img(src='files/img/slider-2.jpg')
            .slider-description.large-5
                .vertical-box.large-8
                    .vertical-middle
                        h3 Bespoke quality
                        p ARISTOCRAT KIDS is a luxury children’s wear brand famous for its bespoke quality and unique signature of dreamy fairy tale style look. Using the finest textiles, Aristocrat Kids creates exclusive and unique handmade pieces with impeccable attention to every detail.
                        a.button DISCOVER
