.detail-main.large-5.column
    h4 QUEEN FLORA
    h6 Handmade Long Silk Dress
    .detail-price
        span $580.92
        span.old $637.92
    .detail-size
        select
            option(value='S') Select Size
            option(value='S') S
            option(value='M') M
            option(value='L') L
        a(href='#') Size Guide
    .detail-color
        h6 Available colours:
        .detail-color-row.active(data-size="S")
            .detail-color-item.active(data-color="1")
                img(src="files/img/color-item.png")
            .detail-color-item(data-color="2")
                img(src="files/img/color-item.png")
            .detail-color-item(data-color="3")
                img(src="files/img/color-item.png")
        .detail-color-row(data-size="M")
            .detail-color-item.active(data-color="4")
                img(src="files/img/color-item.png")
            .detail-color-item(data-color="5")
                img(src="files/img/color-item.png")
        .detail-color-row(data-size="L")
            .detail-color-item.active(data-color="6")
                img(src="files/img/color-item.png")
    .detail-actions
        a.button.large.accented(href='#')
            i.fa.fa-shopping-bag
            | ADD TO SHOPPING BAG
        a.button.large.outline(href='#')
            .fa.fa-star
            | ADD TO WISHLIST
    .detail-description
        p Girls handmade long length dress by Aristocrat Kids. Made from gorgeous soft, lightweight silk satin with colourful flowers and birds on a very dark green background. The fitted bodice has mother of pearl buttons to fasten, three quarter length sleeves and a sash to tie at the back. The full skirt has gathers around the waist to give a floaty feel and is lined with smooth cotton. A pretty and comfortable dress ideal for special occasions.
        ul
            li Product number 146976
            li 100% silk (lightweight satin feel)
            li Lining: 100% cotton (smooth feel)
            li Dry clean
            li Button fastenings at the back
            li Sash to tie on the waist
            li Long length
            li ¾ length sleeves
            li Handmade
            li Style name: 'Queen Flora'
            li Comes with a fabric bag
