.filter
    .filter-item.accented
        h6 Brands
        .filter-field.checkbox-group
            input#checkbox1(type='checkbox')
            label.checkbox(for='checkbox1')
                span.box
                    i.fa.fa-check
                | Aristocrat Kids
        .filter-field.checkbox-group
            input#checkbox2(type='checkbox')
            label.checkbox(for='checkbox2')
                span.box
                    i.fa.fa-check
                | Royal Baby

    .filter-item
        h6 categories
        ul.side-menu
            li
                a
                    i.fa.fa-caret-right
                    span dresses
                ul
                    li
                        a
                            i.fa.fa-minus
                            span Aristocrat Kids
                    li
                        a
                            i.fa.fa-minus
                            span Royal Baby
            li
                a
                    i.fa.fa-caret-right
                    span coats & jackets
            li
                a
                    i.fa.fa-caret-right
                    span jackets
            li
                a
                    i.fa.fa-caret-right
                    span tops
            li
                a
                    i.fa.fa-caret-right
                    span shirts & blouses
            li
                a
                    i.fa.fa-caret-right
                    span jumpsuits
            li
                a
                    i.fa.fa-caret-right
                    span skirts
            li
                a
                    i.fa.fa-caret-right
                    span shorts
            li
                a
                    i.fa.fa-caret-right
                    span trousers
    .filter-item
        h6 Size
        .filter-field.checkbox-group
            input#checkbox3(type='checkbox')
            label.checkbox(for='checkbox3')
                span.box
                    i.fa.fa-check
                | 6 years
        .filter-field.checkbox-group
            input#checkbox4(type='checkbox')
            label.checkbox(for='checkbox4')
                span.box
                    i.fa.fa-check
                | 8 years
        .filter-field.checkbox-group
            input#checkbox5(type='checkbox')
            label.checkbox(for='checkbox5')
                span.box
                    i.fa.fa-check
                | 10 years
        .filter-field.checkbox-group
            input#checkbox6(type='checkbox')
            label.checkbox(for='checkbox6')
                span.box
                    i.fa.fa-check
                | 12 years
