.row
    .footer-column.large-2.column
        h6 CUSTOMER SERVICE
        ul
            li
                a My account
            li
                a Size guide
    .footer-column.large-3.column
        h6 CONTACT US
        ul
            li
                a AFFILIATES
            li
                a CAREERS
    .footer-column.large-3.column
        h6 STAY IN TOUCH
        .input-group
            input(type='email',placeholder='E-mail Address')
            .input-group-button
                input.button.primary(type='submit',value='submit')
        .footer-socials
            .footer-socials-items
                a(href='a')
                    i.fa.fa-instagram
            .footer-socials-items
                a(href='a')
                    i.fa.fa-facebook
            .footer-socials-items
                a(href='a')
                    i.fa.fa-pinterest
    //.footer-column.large-1.column
        .ontop
            a(href='#')
                i.icon-top
                h5 On top
.row
    .large-5.column
        p Copyright © Aristocrat Kids, 2016
    .large-7.column
        ul.footer-menu
            li
                a(href='#') TERMS & CONDITIONS
            li
                a(href='#') COOKIE POLICY
            li
                a(href='#') PRIVACY
            li
                a(href='#') DELIVERY
            li
                a(href='#') EXCHANGES & RETURNS
            li
                a(href='#') PAYMENTS
            li
                a(href='#') FAQS
            li
                a(href='#') GIFT CARDS
            li
                a(href='#') ABOUT US
