.row
    .footer-column.large-3.column
        h6 CONTACT US
        .footer-contacts
            .footer-contacts-item
                a(href='mailto:info@aristocratkids.com')
                    i.fa.fa-envelope-o
                    | info@aristocratkids.com
            .footer-contacts-item
                a(href='tel:37129277449')
                    i.fa.fa-phone
                    | +371 2 9277449
            .footer-contacts-item
                i.fa.fa-map-marker
                | Vagonu 23, Rīga LV-1009, Latvia
    .footer-column.large-2.column
        h6 INFORMATION
        ul
            li
                a My account
            li
                a Size guide
    .footer-column.large-3.column
        h6 NEWSLETTER
        .input-group
            input(type='email',placeholder='E-mail Address')
            .input-group-button
                input.button.primary(type='submit',value='submit')
    .footer-column.large-3.column
        h6 STAY CONNECTED
        .footer-socials
            .footer-socials-items
                a(href='a')
                    i.fa.fa-facebook
            .footer-socials-items
                a(href='a')
                    i.fa.fa-youtube-play
            .footer-socials-items
                a(href='a')
                    i.fa.fa-instagram
            .footer-socials-items
                a(href='a')
                    i.fa.fa-pinterest
    //.footer-column.large-1.column
        .ontop
            a(href='#')
                i.icon-top
                h5 On top
.row
    .large-5.column
        p Copyright © Aristocrat Kids, 2016
    .large-7.column
        ul.footer-menu
            li
                a(href='#') TERMS & CONDITIONS
            li
                a(href='#') COOKIE POLICY
            li
                a(href='#') PRIVACY
            li
                a(href='#') DELIVERY POLICY
            li
                a(href='#') FAQS
