.header-hint
    .row
        .column.large-8.large-offset-2
            p
                | This website uses cookies, including third parties ones, in order to send you advertising and services in accordance with your preferences.
                | If you want to learn more or opt out of all or some cookies, click
                a(href="#") here.
    a.header-hint-close
        i.fa.fa-close
