.header-main.row.expanded.column
    .header-search.medium-4.column
        .search
            .fa.fa-search
            input.search-input(placeholder="Search")
    .header-logo.medium-4.column.text-center
        a(href='/')
            img(src='files/img/logo.png')
    .header-menu.medium-4.column.medium-text-right
        ul
            li
                a
                    i.fa.fa-star
                    span Wishlist


            li
                a.shopping-bag
                    i.fa.fa-shopping-bag
                    span Bag
                    span.counter 33
            li
                a
                    span My account
nav.navigation
    .row.column
        ul.menu
            li
                a
                    | 2
                .submenu
                    a(href="#").submenu-item
                        img(src='http://placehold.it/580x404/')
                        p 1
                    a(href="#").submenu-item
                        img(src='http://placehold.it/580x404/')
                        p 2
            li
                a
                    | 3
                .submenu
                    a(href="#").submenu-item
                        img(src='http://placehold.it/580x404/')
                        p 1
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x404?text=+')
                        p 2
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x404?text=+')
                        p 3
            li
                a
                    | 4
                .submenu
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x404/')
                        p 1
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x404?text=+')
                        p 2
                    a(href="#").submenu-item
                        img(src='http://placehold.it/580x200?text=+')
                        p 3
                    a(href="#").submenu-item
                        img(src='http://placehold.it/580x200?text=+')
                        p 4
            li
                a
                    | 5
                .submenu
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x404?text=+')
                        p 1
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x404?text=+')
                        p 2
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x200?text=+')
                        p 3
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x200?text=+')
                        p 4
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x404?text=+')
                        p 5
            li
                a
                    | 6
                .submenu
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x200?text=+')
                        p 1
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x200?text=+')
                        p 2
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x404?text=+')
                        p 3
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x200?text=+')
                        p 4
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x200?text=+')
                        p 5
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x404?text=+')
                        p 6
            li
                a
                    | 7
                .submenu
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x200?text=+')
                        p 1
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x200?text=+')
                        p 2
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x200?text=+')
                        p 3
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x200?text=+')
                        p 4
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x404?text=+')
                        p 5
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x200?text=+')
                        p 6
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x200?text=+')
                        p 7
            li
                a
                    | 8
                .submenu
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x200')
                        p 1
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x200')
                        p 2
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x200')
                        p 3
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x200')
                        p 4
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x200')
                        p 5
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x200')
                        p 6
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x200')
                        p 7
                    a(href="#").submenu-item
                        img(src='http://placehold.it/290x200')
                        p 8
