.header-main.row.expanded.column
    .header-search.medium-4.column
        .search
            .fa.fa-search
            input.search-input(placeholder="Search")
    .header-logo.medium-4.column.text-center
        a(href='/')
            img(src='files/img/logo.png')
    .header-menu.medium-4.column.medium-text-right
        ul
            li
                a
                    i.fa.fa-star
                    span Wishlist


            li
                a.shopping-bag
                    i.fa.fa-shopping-bag
                    span Bag
                    span.counter 33
            li
                a
                    span My account
nav.navigation
    .row.column
        ul.menu
            li
                a
                    | our kingdom
                .submenu
                    .row
                        .medium-3.column
                            a(href="#").submenu-item
                                img(src='http://placehold.it/290x404/')
                        .medium-3.column
                            a(href="#").submenu-item
                                img(src='http://placehold.it/290x404?text=+')
                                p title 2
                        .medium-3.column
                            a(href="#").submenu-item
                                img(src='http://placehold.it/290x404?text=+')
                                p title 3
                        .medium-3.column
                            a(href="#").submenu-item
                                img(src='http://placehold.it/290x404?text=+')
                                p title 4
            li
                a
                    | ROYAL ATELIER
                .submenu
                    .row
                        .medium-3.column
                            a(href="#").submenu-item
                                img(src='http://placehold.it/290x200/')
                            a(href="#").submenu-item
                                img(src='http://placehold.it/290x200/')
                        .medium-3.column
                            a(href="#").submenu-item
                                img(src='http://placehold.it/290x200/')
                            a(href="#").submenu-item
                                img(src='http://placehold.it/290x200/')
                        .medium-3.column
                            a(href="#").submenu-item
                                img(src='http://placehold.it/290x200/')
                            a(href="#").submenu-item
                                img(src='http://placehold.it/290x200/')
                        .medium-3.column
                            a(href="#").submenu-item
                                img(src='http://placehold.it/290x200/')
                            a(href="#").submenu-item
                                img(src='http://placehold.it/290x200/')
            li
                a
                    | COLLECTIONS
                .submenu
                    .row
                        .medium-3.column
                            a(href="#").submenu-item
                                img(src='http://placehold.it/290x200/')
                            a(href="#").submenu-item
                                img(src='http://placehold.it/290x200/')
                        .medium-3.column
                            a(href="#").submenu-item
                                img(src='http://placehold.it/290x404/')
                        .medium-3.column
                            a(href="#").submenu-item
                                img(src='http://placehold.it/290x200/')
                            a(href="#").submenu-item
                                img(src='http://placehold.it/290x200/')
                        .medium-3.column
                            a(href="#").submenu-item
                                img(src='http://placehold.it/290x404/')
            li
                a ROYAL BABY
            li
                a SPECIAL SERVICES
            li
                a ONLINE BOUTIQUE
