.account-content.newsletter(id="newsletter")
    .form.row
        .large-9.column
            p You are currently subscribed to receive our newsletter. This means you'll receive emails from us about new brands,
                | new arrivals and special offers.
        .large-4.column
            label
                | E-mail
                input(type="email",placeholder="E-mail Adress", required="required")
        .large-4.column.end
            label
                | &nbsp;
                .large-8.small-6
                    input.button.block.accented.large(type="submit",value="UNSUBSCRIBE")
