.preview
    ul.preview-slider
        li
            img(src='files/img/slider-1.jpg')
            .slider-description.large-5
                .vertical-box.large-8
                    .vertical-middle
                        h3 Spring / Summer <br /> 2017 Collection <br /> Royal Candy
                        a.button DISCOVER
        li
            img(src='files/img/slider-2.jpg')
        li
            img(src='files/img/slider-3.jpg')
        li
            img(src='files/img/slider-4.jpg')
        li
            img(src='files/img/slider-5.jpg')
