.preview
    ul.preview-slider
        li
            img(src='files/img/slider-2.jpg')
            .slider-description
                h3 Royal Candy
                h5
                    | Discover the adventures of princess Alexandra in the magical
                    | gardens of little dwarf
                a.button DISCOVER
        li
            img(src='files/img/slider-1.jpg')
            .slider-description
                h3 Royal Candy
                h5
                    | Discover the adventures of princess Alexandra in the magical
                    | gardens of little dwarf
                a.button DISCOVER
        li
            img(src='files/img/slider-3.jpg')
        li
            img(src='files/img/slider-4.jpg')
        li
            img(src='files/img/slider-5.jpg')
