.product-item.text-center.large-3.column
    .product-item-image.vertical-box
        a.vertical-middle
            img(src='files/img/product-1.jpg')
    .product-item-description
        p
            a Clothing
        h5
            a dresses
        a.detail
            | SHOP NOW
            .fa.fa-angle-right
