.product-item.text-center.large-3.column
    .product-item-image.vertical-box
        a.vertical-middle
            img(src='files/img/product-1.jpg')
    .product-item-description
        h5
            a QUEEN FLORA
        h5.secondary $637.92
