.recommend-image
    img(src='http://placehold.it/145x145')
.recommend-description
    h4 QUEEN FLORA
    p Handmade Long Silk Dress
    h5 $637.92
    .recommend-select
        select
            option Select Size
            option S
            option M
            option L
    a.button.large.accented(href='#') ADD TO BAG
