.account-content.shopping.account-shopping(id="refunds")
    .shopping-table.form
        .shopping-table-th
            .row
                .medium-2.column
                    h5 №
                .medium-2.column
                    h5 Date
                .medium-4.column
                    h5 Products
                .medium-2.column
                    h5 Total
                .medium-2.column
                    h5 Status
        .shopping-table-tr.account-shopping-item
            .row
                .medium-2.column
                    p 01234567
                .medium-2.column
                    p 12/12/2016
                .medium-4.column
                    p
                        | 1 products
                        a.account-shopping-link
                            span See more
                            span See less
                .medium-2.column
                    p $580.92
                .medium-2.column
                    p.status returned

            .account-shopping-list
                .shopping-table-tr
                    .row
                        .medium-4.column
                            a.product-thumbnail
                                img.thumbnail(src='http://placehold.it/85x85')
                            .product-summary.texty
                                h5
                                    a QUEEN FLORA
                                p Product code 254326
                        .medium-2.column
                            p Size: 10 years
                        .medium-2.column
                            p Qty: 1
                        .medium-3.column.end
                            p
                                | Price: $580.92
                                s $637.92
                .shopping-table-tr
                    .row
                        .medium-4.column
                            a.product-thumbnail
                                img.thumbnail(src='http://placehold.it/85x85')
                            .product-summary.texty
                                h5
                                    a QUEEN FLORA
                                p Product code 254326
                        .medium-2.column
                            p Size: 10 years
                        .medium-2.column
                            p Qty: 1
                        .medium-3.column.end
                            p
                                | Price: $580.92
                                s $637.92
                .shopping-table-tr
                    .row
                        .medium-4.column
                            a.product-thumbnail
                                img.thumbnail(src='http://placehold.it/85x85')
                            .product-summary.texty
                                h5
                                    a QUEEN FLORA
                                p Product code 254326
                        .medium-2.column
                            p Size: 10 years
                        .medium-2.column
                            p Qty: 1
                        .medium-3.column.end
                            p
                                | Price: $580.92
                                s $637.92
                .shopping-table-tr.account-shopping-total
                    .row
                        .medium-2.column.float-right
                            p TOTAL: $1754.76
                        .medium-2.column.float-right
                            p Delivery: $12


        .shopping-table-tr.account-shopping-item
            .row
                .medium-2.column
                    p 01234567
                .medium-2.column
                    p 12/12/2016
                .medium-4.column
                    p
                        | 1 products
                        a.account-shopping-link
                            span See more
                            span See less
                .medium-2.column
                    p $580.92
                .medium-2.column
                    p.status.focusout in processing

            .account-shopping-list
                .shopping-table-tr
                    .row
                        .medium-4.column
                            a.product-thumbnail
                                img.thumbnail(src='http://placehold.it/85x85')
                            .product-summary.texty
                                h5
                                    a QUEEN FLORA
                                p Product code 254326
                        .medium-2.column
                            p Size: 10 years
                        .medium-2.column
                            p Qty: 1
                        .medium-3.column.end
                            p
                                | Price: $580.92
                                s $637.92
                .shopping-table-tr
                    .row
                        .medium-4.column
                            a.product-thumbnail
                                img.thumbnail(src='http://placehold.it/85x85')
                            .product-summary.texty
                                h5
                                    a QUEEN FLORA
                                p Product code 254326
                        .medium-2.column
                            p Size: 10 years
                        .medium-2.column
                            p Qty: 1
                        .medium-3.column.end
                            p
                                | Price: $580.92
                                s $637.92
                .shopping-table-tr
                    .row
                        .medium-4.column
                            a.product-thumbnail
                                img.thumbnail(src='http://placehold.it/85x85')
                            .product-summary.texty
                                h5
                                    a QUEEN FLORA
                                p Product code 254326
                        .medium-2.column
                            p Size: 10 years
                        .medium-2.column
                            p Qty: 1
                        .medium-3.column.end
                            p
                                | Price: $580.92
                                s $637.92
                .shopping-table-tr.account-shopping-total
                    .row
                        .medium-2.column.float-right
                            p TOTAL: $1754.76
                        .medium-2.column.float-right
                            p Delivery: $12


        .shopping-table-tr.account-shopping-item
            .row
                .medium-2.column
                    p 01234567
                .medium-2.column
                    p 12/12/2016
                .medium-4.column
                    p
                        | 1 products
                        a.account-shopping-link
                            span See more
                            span See less
                .medium-2.column
                    p $580.92
                .medium-2.column
                    p.status returned

            .account-shopping-list
                .shopping-table-tr
                    .row
                        .medium-4.column
                            a.product-thumbnail
                                img.thumbnail(src='http://placehold.it/85x85')
                            .product-summary.texty
                                h5
                                    a QUEEN FLORA
                                p Product code 254326
                        .medium-2.column
                            p Size: 10 years
                        .medium-2.column
                            p Qty: 1
                        .medium-3.column.end
                            p
                                | Price: $580.92
                                s $637.92
                .shopping-table-tr
                    .row
                        .medium-4.column
                            a.product-thumbnail
                                img.thumbnail(src='http://placehold.it/85x85')
                            .product-summary.texty
                                h5
                                    a QUEEN FLORA
                                p Product code 254326
                        .medium-2.column
                            p Size: 10 years
                        .medium-2.column
                            p Qty: 1
                        .medium-3.column.end
                            p
                                | Price: $580.92
                                s $637.92
                .shopping-table-tr
                    .row
                        .medium-4.column
                            a.product-thumbnail
                                img.thumbnail(src='http://placehold.it/85x85')
                            .product-summary.texty
                                h5
                                    a QUEEN FLORA
                                p Product code 254326
                        .medium-2.column
                            p Size: 10 years
                        .medium-2.column
                            p Qty: 1
                        .medium-3.column.end
                            p
                                | Price: $580.92
                                s $637.92
                .shopping-table-tr.account-shopping-total
                    .row
                        .medium-2.column.float-right
                            p TOTAL: $1754.76
                        .medium-2.column.float-right
                            p Delivery: $12


