.trending
    h3.subheader Online shop
    .product-list.row
        include _product.pug
        include _product.pug
        include _product.pug
        include _product.pug
        include _product.pug
        include _product.pug
