.trending
    .product-list.row
        include _product.pug
        include _product.pug
        include _product.pug
        include _product.pug
        include _product.pug
        include _product.pug
