.trending
    h3.subheader ROYAL BOTIQUE
    .product-list.row
        include _product.pug
        include _product.pug
        include _product.pug
        include _product.pug
        include _product.pug
        include _product.pug
