.trending
    h2.subheader  Trending
    .product-list.row
        include _product.pug
        include _product.pug
        include _product.pug
        include _product.pug
        include _product.pug
        include _product.pug
