.account-content.wishlist(id="wishlist")
    .row
        .column
            include _catalog_head_min.pug

            .catalog-body
                .row
                    include _product4.pug
                    include _product5.pug
                    include _product3.pug
                    include _product4.pug
                    include _product5.pug
                    include _product3.pug

            include _catalog_head_min.pug
